# If you're tweaking this file from the template, ensure you edit at lest the
# following variables:
# - DJANGO_SECRET_KEY
# - DJANGO_ALLOWED_HOSTS

# Docker only
# -----------

# The tag of the image we should use
# (it will be interpolated in docker-compose file)
FUNKWHALE_VERSION=latest


# General configuration
# ---------------------

# Set this variables to bind the API server to another interface/port
# example: FUNKWHALE_API_IP=0.0.0.0
# example: FUNKWHALE_API_PORT=5678
FUNKWHALE_API_IP=
FUNKWHALE_API_PORT=

# API/Django configuration

# which settings module should django use?
# You don't have to touch this unless you really know what you're doing
DJANGO_SETTINGS_MODULE=config.settings.production

# Generate one using `openssl rand -base64 45`, for example
DJANGO_SECRET_KEY=

# You don't have to edit this
DJANGO_ADMIN_URL=^admin/

# Update it to match the domain that will be used to reach your funkwhale
# instance
# Example: DJANGO_ALLOWED_HOSTS=funkwhale.yourdomain.com
DJANGO_ALLOWED_HOSTS=yourdomain

# If True, unauthenticated users won't be able to query the API
API_AUTHENTICATION_REQUIRED=True

# What is the workflow for registration on funkwhale ? Possible values:
# public: anybody can register an account
# disabled: nobody can register an account
REGISTRATION_MODE=disabled
