FUNKWHALE_URL=https://demo.funkwhale.audio/
DJANGO_ALLOWED_HOSTS=demo.funkwhale.audio
FUNKWHALE_API_PORT=5001
DJANGO_SECRET_KEY=demo
DATABASE_URL=postgresql://postgres@postgres/postgres
CACHE_URL=redis://redis:6379/0
